# Ignore Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Ignore distribution and packaging files
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

# Ignore log files
*.log

# Ignore coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Ignore environment variables and virtual environments
.env
.venv
env/
venv/

# Ignore IDE specific files (e.g., PyCharm, VSCode)
.idea/
.vscode/
